@{
     ViewBag.Title = "AboutUs";
}
<style>
    h1 {
        font-size: 50px;
        font-weight: bold;
        margin: 20px;
        
    }
    p {
        font-size: 20px;
        margin: 15px;
    }
    h3 {
        font-size: 20px;
        margin-top: 60px;
        margin-left: 50px;
    }
    p.sub {
        margin-left: 100px;
    }
    
</style>
<h1>About Us</h1>
<p>Kanayon in Tagalog means "fellow of the same local community". 
    At Kanayon, we believe that every business needs a platform for them to be recognized. 
    Kanayon is a website that seeks to provide small local businesses a platform to help them grow and for them to be promoted and given exposure. </p>
<h3>Mission Statement</h3>
   <p class="sub">To provide businesses a platform for them to be recognized</p>

<h3>Vision Statement</h3>
   <p class="sub">To be a platform for businesses to grow and succeed</p>

