@{
    ViewBag.Title = "Help";
}
<style>
    h1 {
        font-size: 50px;
        font-weight: bold;
        margin: 20px;
    }
</style>
<h1>Contact Us</h1>

<p><img src="https://i.ibb.co/CvG6Qp9/smartphone.png" height="25" width="25" /> By CellPhone</p>
<p>+63 (915) 646 7532</p>
<p>+63 (170) 567 0912</p>
<br>

<p><img src="https://i.ibb.co/Zdf3ZdM/phone-call.png" height="25" width="25" />   By Telephone</p>
<p>Within Metro Manila : 8123-4567</p>
<p>Outside Metro Manila : 02-8123-4567</p>
<br>

<p><img src="https://i.ibb.co/LNDCHNK/email.png" height="25" width="25" /> By Email</p>
<p>For Customer Concerns : <a href="https://www.google.com/gmail/" target="_blank">customers@kanayon.com</a></p>
<p>For Business Owner Concerns : <a href="https://www.google.com/gmail/" target="_blank">businessowner@kanayon.com</a></p>
<br>

<p><img src="https://i.ibb.co/9Zdkc6C/place.png" height="25" width="25" />Visit Us</p>
<p>1274 Padre Algue Street Tondo, Manila</p>
