@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://images.pexels.com/photos/3184396/pexels-photo-3184396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    h1 {
        font-size: 100px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin: 200px;
    }

    #sub {
        height: 50px;
        width: 450px;
        padding: 15px 15px;
        background: black;
        color: white;
        text-align: center;
        margin-left: 420px;
        margin-top: -200px;
        transform: rotate(3deg);
    }

    form.d-flex {
        width: 400px;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 440px;
    }
</style>



<h1>KANAYON</h1>


<div id="sub">
    <p> "let's discover together, iisang kanayon."</p>
</div>


<form class="d-flex" >
    <input class="form-control me-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>



